<form class="mt-4" method="post" action="/courses/handle-form-actions-in-trash">
    <div>
      <a href="/me/stored/courses">
        <i class="fas fa-chevron-left mr-1"></i>
        Danh sách khoá học
      </a>
      <h3 class="mt-2">Khoá học đã xoá</h3>
    </div>

    <div class="mt-4 d-flex align-items-center">
        <select class="form-control form-control-sm checkbox-select-all-option mr-2" name="action" required>
            <option value="">-- Hành động --</option>
            <option value="restore">Khôi phục</option>
            <option value="force">Xoá vĩnh viễn</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit" disabled>
            Thực hiện
        </button>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">
                  <div class="form-check" style="top: -22px">
                      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                  </div>
                </th>
                <th scope="col">ID</th>
                <th scope="col">
                  Tên khoá học
                  {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                  Trình độ
                  {{{sortable 'level' _sort}}}
                </th>
                <th scope="col" colspan="2">
                  Thời gian xoá
                  {{{sortable 'deletedAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td class="d-flex align-items-center">
                    <a href="" class="btn btn-link btn-restore" data-toggle="tooltip" data-placement="top" title="Khôi phục khoá học" data-id="{{this._id}}"><i class="fas fa-trash-restore"></i></a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>

            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Thùng rác trống.
                <a href="/me/stored/courses">Danh sách khoá học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}

<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá khoá học vĩnh viễn?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục. Bạn vẫn muốn xoá khoá học này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse =  document.getElementById('btn-delete-course');
        var btnRestore = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var btnCheckAllSubmit = $('.btn-check-all-submit');

        // When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function() {
            deleteForm.action = '/courses/' + courseId  + '/force?_method=DELETE';
            deleteForm.submit();
        }

        //Restore Button clicked
        btnRestore.click(function(e) {
          e.preventDefault();
          var courseId = $(this).data('id');
          restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
          restoreForm.submit();
        })

        //Check box all changed
        checkboxAll.change(function() {
          var isCheckedAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        //Course item check box changed
        courseItemCheckbox.change(function() {
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn();
        })

        //Re-render checked all submit buttons
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          (checkedCount > 0) ? btnCheckAllSubmit.attr('disabled', false) : btnCheckAllSubmit.attr('disabled', true);
        }
    })
</script>